Repository sherpa/sherpa, pull requests merged in 2020-08, with the labels that each got.

#871 Add MacOS LDFLAGS warning to devdocs
  docs/development.rst
Labels: area:docs, note: easy review

#861 Report code coverage to codecov.io
  .travis.yml
  sherpa/astro/tests/test_astro_instrument.py
  sherpa/tests/test_instrument.py
  travis/test.sh
Labels: area:tests

#859 Clean up of the XSPEC interface code
  sherpa/include/sherpa/astro/xspec_extension.hh
Labels: area:code, dep:xspec

#856 Support setting the id value in load_pha with pha2 files (fix #666)
  sherpa/astro/ui/tests/test_astro_supports_pha2.py
  sherpa/astro/ui/utils.py
Labels: area:code, note: easy review

#719 Add a test suite for multiple ARF/RMF responses
  sherpa/astro/ui/tests/test_astro_ui_multi_response.py
Labels: area:tests, note: easy review

#873 Add requires_fits decorators to test_xspec_con.py
  sherpa/astro/xspec/tests/test_xspec_con.py
Labels: area:tests, note: easy review

#863 Support an "ideal" RMF where MATRIX is a scalar (pyfits backend, fix #862)
  sherpa/astro/io/pyfits_backend.py
  sherpa/astro/io/tests/test_io.py
Labels: area:code, note: easy review, type:bug

#802 Tweak test for issue 717 to be repeatable
  sherpa/astro/ui/tests/test_astro_ui.py
Labels: area:tests, note: easy review

#868 Add delete_pileup_model (fix #441), list_pileup_model_ids, list_psf_ids functions, fix list_models (fix #749)
  sherpa/astro/datastack/__init__.py
  sherpa/astro/datastack/plot_backend/__init__.py
  sherpa/astro/datastack/utils.py
  sherpa/astro/ui/tests/test_astro_session.py
  sherpa/astro/ui/tests/test_astro_ui.py
  sherpa/astro/ui/utils.py
  sherpa/ui/tests/test_session.py
  sherpa/ui/tests/test_ui.py
  sherpa/ui/utils.py
  sherpa/utils/__init__.py
Labels: area:code, area:tests, note: easy review

#892 Attempt to support building on C++98 compliant compilers (XSPEC code)
  sherpa/include/sherpa/astro/xspec_extension.hh
Labels: area:build, dep:xspec

#910 Docs: fix several minor issues
  sherpa/ui/utils.py
Labels: area:docs, note: easy review

#693 Address matplotlib linestyle removal in Matplotlib version 3.3
  .travis.yml
  sherpa/astro/ui/tests/test_astro_ui_plot.py
  sherpa/conftest.py
  sherpa/plot/pylab_backend.py
  travis/setup_conda.sh
Labels: dep:matplotlib, general:visualization, note: easy review

#911 Docstring: changes for ahelp
  sherpa/astro/ui/utils.py
  sherpa/astro/xspec/__init__.py
Labels: area:docs, note: easy review

#914 Travis: update ds9 to 8.1 and XPA to 2.1.20 (fix #913)
  travis/setup_xspec_ds9.sh
Labels: area:build, note: easy review

#893 Tests: run FullBayes as well as PragBayes (and hopefully all codecov tests)
  sherpa/astro/sim/pragbayes.py
  sherpa/astro/sim/tests/test_astro_sim.py
Labels: area:code, area:tests, note: easy review

#907 FEATURE: support alpha transparency for matplotlib plots
  sherpa/astro/ui/tests/test_astro_ui_plot.py
  sherpa/plot/pylab_backend.py
  sherpa/ui/utils.py
Labels: area:code, dep:matplotlib, note: easy review, type:enhancement

#909 Refactor: remove _get_model/source methods
  sherpa/astro/ui/utils.py
  sherpa/ui/utils.py
Labels: area:code, note: easy review

#897 Add support for XSPEC 12.11.1
  docs/developer/index.rst
  docs/indices.rst
  docs/install.rst
  helpers/xspec_config.py
  setup.cfg
  sherpa/astro/xspec/__init__.py
Labels: area:build, area:docs, dep:xspec, note: easy review

#899 Update likelihood descriptions
  sherpa/stats/__init__.py
Labels: area:docs, general:statistics, note: easy review
