Repository sherpa/sherpa, pull requests merged in 2020-07, with the labels that each got.

#782 Add a pyproject.toml file
  MANIFEST.in
  pyproject.toml
Labels: area:build

#851 Updates to the Read-The-Docs build environment
  docs/ciao.rst
  docs/conf.py
  docs/environment.yml
  docs/install.rst
  readthedocs.yml
Labels: area:build, area:docs, note: easy review

#847 Cache code: make the parameter optional and fix some missing cases
  sherpa/astro/instrument.py
  sherpa/models/basic.py
  sherpa/models/model.py
Labels: area:code

#845 xspec table models: add out-of-bound check to avoid segfault
  sherpa/astro/xspec/__init__.py
  sherpa/astro/xspec/tests/test_xspec.py
Labels: dep:xspec, note: easy review

#768 Add Chi2XspecVar test for source/bgnd bins with 0 counts (#356)
  sherpa/stats/tests/test_stats.py
Labels: area:tests, note: easy review

#772 Add XSPEC 12.11.0 support (HEAsoft 6.27)
  docs/bugs.rst
  docs/ciao.rst
  docs/code/trap.py
  docs/development.rst
  docs/evaluation/combine.rst
  docs/index.rst
  docs/indices.rst
  docs/install.rst
  docs/mcmc/index.rst
  docs/model_classes/astro_xspec.rst
  docs/model_classes/index.rst
  docs/model_classes/usermodel.rst
  docs/model_classes/xspec_utils.rst
  docs/models/index.rst
  docs/optimisers/index.rst
  docs/quick.rst
  docs/ui/index.rst
  helpers/xspec_config.py
  setup.cfg
  sherpa/astro/ui/tests/test_astro_ui.py
  sherpa/astro/xspec/__init__.py
  sherpa/astro/xspec/src/_xspec.cc
  sherpa/astro/xspec/tests/test_xspec.py
  sherpa/include/sherpa/astro/xspec_extension.hh
Labels: dep:xspec

#839 Add requires_fits to test_astro_sim tests and switch to pytest
  sherpa/astro/sim/tests/test_astro_sim.py
Labels: area:tests

#750 Add xspec convolution api
  docs/model_classes/astro_xspec.rst
  docs/model_classes/xspec_model.rst
  sherpa/astro/ui/__init__.py
  sherpa/astro/xspec/__init__.py
  sherpa/astro/xspec/src/_xspec.cc
  sherpa/astro/xspec/tests/test_xspec.py
  sherpa/astro/xspec/tests/test_xspec_con.py
Labels: area:code, dep:xspec, type:enhancement

#865 Minor documentation fixes
  docs/evaluation/astro_background.rst
  docs/evaluation/index.rst
  sherpa/astro/background.py
  sherpa/astro/data.py
  sherpa/astro/xspec/__init__.py
Labels: area:docs, note: easy review
