Repository sherpa/sherpa, pull requests merged in 2020-06, with the labels that each got.

#818 Remove Conda-forge for Xspec and update Travis to Xspec 12.10.1n
  .travis.yml
  travis/setup_conda.sh
  travis/setup_xspec_ds9.sh
Labels: area:build, dep:xspec

#826 Pytest-doctestplus no longer supports python 3.5
  .gitlab-ci.yml
  .travis.yml
  travis/test.sh
Labels: area:build

#832 Support building with NumPy 1.19
  helpers/develop.py
  helpers/sherpa_config.py
  helpers/test.py
  helpers/xspec_config.py
  sherpa/models/model.py
Labels: area:build, area:docs, area:tests

#815 fix typo in rst docs
  docs/evaluation/examples.rst
Labels: area:docs

#821 Add hyperlink to similarly named SHERPA package
  docs/index.rst
Labels: area:docs
