Repository sherpa/sherpa, pull requests merged in 2021-11, with the labels that each got.

#1326 Write-up that environment varaible in setup.cfg need to be expanded
  docs/developer/index.rst
Labels: area:build, area:docs, note: easy review

#1317 Add requires group test decorators
  sherpa/astro/datastack/tests/test_datastack.py
  sherpa/astro/io/tests/test_io.py
  sherpa/astro/tests/test_astro_data.py
  sherpa/astro/tests/test_astro_data2.py
  sherpa/astro/tests/test_astro_pha_scale.py
  sherpa/astro/ui/tests/test_astro_session.py
  sherpa/astro/ui/tests/test_astro_supports_pha2.py
  sherpa/astro/ui/tests/test_astro_ui.py
Labels: area:tests, note: easy review

#1348 Minor internal code cleanup tracking errors
  sherpa/astro/ui/tests/test_astro_ui_utils_unit.py
  sherpa/astro/ui/utils.py
  sherpa/ui/tests/test_session.py
  sherpa/ui/tests/test_ui_unit.py
  sherpa/ui/utils.py
Labels: priority:low, area:tests, area:code

#1185 Simplify switching the astro.io backend
  docs/overview/astro_io.rst
  sherpa/astro/io/__init__.py
  sherpa/astro/io/dummy_backend.py
  sherpa/astro/io/tests/test_backend_switch.py
  sherpa/astro/ui/tests/test_astro_ui_unit.py
  sherpa/astro/ui/utils.py
  sherpa/sherpa-standalone.rc
  sherpa/sherpa.rc
Labels: area:build, area:docs

#1355 Minor cleanup of the I/O code
  sherpa/astro/io/__init__.py
  sherpa/astro/io/crates_backend.py
  sherpa/astro/io/pyfits_backend.py
  sherpa/astro/io/tests/test_backend_switch.py
  sherpa/io.py
Labels: area:code

#1365 Simplify a test (fix #541)
  sherpa/astro/tests/test_astro_pha_scale.py
Labels: area:tests, note: easy review
