Repository sherpa/sherpa, pull requests merged in 2021-05, with the labels that each got.

#1104 Add basic documentation for the low-level optimisation code
  docs/_static/plots/dataplot_histogram_overplot.png
  docs/optimisers/index.rst
  docs/optimisers/optfcts.rst
  docs/plots/astroplot.rst
  docs/plots/plot.rst
  sherpa/astro/plot.py
  sherpa/optmethods/__init__.py
  sherpa/optmethods/optfcts.py
  sherpa/plot/__init__.py
Labels: area:code, area:docs, type:enhancement

#1142 Add instruction for source build on Mac, that were previously only part of our internal release notes.
  docs/install.rst
Labels: area:build

#1139 Fix typo in Zenodo test that made it fail
  sherpa/tests/test_sherpa.py
Labels: area:tests, note: easy review, priority:low, type:bug

#1127 PHA filtering changes
  sherpa/astro/data.py
  sherpa/astro/tests/test_astro_data.py
  sherpa/astro/tests/test_astro_data2.py
  sherpa/astro/ui/tests/test_astro_ui_unit.py
  sherpa/astro/ui/tests/test_serialize.py
  sherpa/data.py
  sherpa/tests/test_data.py
  sherpa/ui/tests/test_ui_unit.py
  sherpa/ui/utils.py
Labels: area: grouping, note:needs SDS testing

#1107 Add some grating related keywords for _repr_html_ for ARF, RMF, PHA
  sherpa/astro/data.py
  sherpa/astro/tests/test_astro_data_notebook.py
Labels: note: easy review

#1134 This is a doc-string only update for load_multi_XXX
  sherpa/astro/ui/utils.py
Labels: area:docs

#1137 Correct docstring for fake_pha
  sherpa/astro/ui/utils.py
Labels: area:docs, note: easy review

#1143 add basic test and documentation for Integrate1D
  sherpa/models/basic.py
  sherpa/models/model.py
  sherpa/models/src/_modelfcts.cc
  sherpa/models/tests/test_model.py
Labels: area:tests, note: easy review

#1154 Update docs on RTD builds
  docs/developer/index.rst
  docs/install.rst
Labels: area:docs, note: easy review

#1136 Replace error message "too few columns" with a more generic word
  sherpa/astro/io/crates_backend.py
  sherpa/astro/io/pyfits_backend.py
  sherpa/io.py
  sherpa/ui/utils.py
  sherpa/utils/err.py
Labels: note: easy review
