Repository sherpa/sherpa, pull requests merged in 2021-03, with the labels that each got.

#960 Fix model evaluation when changing the integrate setting (fix #958)
  sherpa/models/model.py
  sherpa/models/tests/test_model.py
Labels: area:code, type:bug

#1111 Minor test updates
  sherpa/astro/sim/tests/test_astro_sim.py
  sherpa/astro/utils/smoke.py
Labels: area:tests, note: easy review

#1108 Read RMFs where N_CHAN is an array
  sherpa/astro/io/pyfits_backend.py
Labels: note: easy review

#1003 Fix serialization of iter method data - issue #997
  sherpa/astro/ui/serialize.py
  sherpa/astro/ui/tests/test_serialize.py
Labels: area:code, note: easy review, type:bug

#1117 Docs: improve cache discussion and documentation
  docs/evaluation/cache.rst
  docs/model_classes/model.rst
  sherpa/models/model.py
Labels: area:docs

#1100 Address reg_proj and reg_unc failures (fix #1093)
  sherpa/plot/__init__.py
  sherpa/plot/tests/test_plot.py
  sherpa/plot/tests/test_plot_notebook.py
Labels: area:code, note:needs SDS testing, type:bug
