Repository sherpa/sherpa, pull requests merged in 2021-06, with the labels that each got.

#1165 Add a section on running the tests to the developer docs
  docs/developer/index.rst
Labels: area:docs, area:tests, note: easy review

#1168 Logging tweaks
  docs/overview/logging.rst
  docs/overview/utilities.rst
  sherpa/astro/ui/tests/test_filtering.py
Labels: area:docs, area:tests, note: easy review, type:enhancement

#1173 Improve DataPha documentation
  sherpa/astro/data.py
Labels: area:code, area:docs, note: easy review, type:enhancement

#1135 Added docstring and removed unused no-op class
  sherpa/astro/models/__init__.py
  sherpa/astro/models/tests/test_astro_model.py
  sherpa/astro/utils/__init__.py
  sherpa/astro/utils/tests/test_astro_utils.py
Labels: area:docs, area:tests

#1144 A minor cleanup of estmethods
  sherpa/estmethods/__init__.py
  sherpa/estmethods/tests/test_estmethods.py
Labels: area:code, area:tests, note: easy review

#1118 Improve test cases for source plots with PHA data
  sherpa/astro/plot.py
  sherpa/astro/tests/test_astro_plot.py
  sherpa/astro/ui/tests/test_astro_ui_plot.py
  sherpa/ui/tests/test_ui_plot.py
Labels: area:tests, general:visualization, type:other

#1178 Define physical constant hc in fewer places
  docs/overview/astro.rst
  docs/overview/utilities.rst
  sherpa/astro/__init__.py
  sherpa/astro/data.py
  sherpa/astro/instrument.py
  sherpa/astro/plot.py
  sherpa/astro/tests/test_astro_instrument.py
  sherpa/astro/tests/test_astro_plot.py
  sherpa/astro/ui/tests/test_astro_ui_fluxes.py
  sherpa/astro/utils/__init__.py
Labels: area:code, note: easy review

#1147 Tests: support use of data directory being local, not absolute
  sherpa/astro/ui/tests/test_astro_ui.py
Labels: area:tests, note: easy review, priority:low, type:bug

#1171 Improve the grouping/filtering tests
  sherpa/astro/data.py
  sherpa/astro/plot.py
  sherpa/astro/tests/test_astro_data.py
  sherpa/astro/tests/test_astro_data2.py
  sherpa/astro/tests/test_astro_plot.py
  sherpa/astro/ui/tests/test_astro_ui_multi_response.py
  sherpa/astro/ui/tests/test_astro_ui_plot.py
  sherpa/astro/ui/tests/test_filtering.py
Labels: area:tests

#1177 minor rework of image handling for ui layer
  docs/developer/index.rst
  docs/plots/image.rst
  docs/plots/index.rst
  sherpa/image/__init__.py
  sherpa/ui/tests/test_ui_image.py
  sherpa/ui/utils.py
Labels: area:code, area:tests, general:visualization

#1172 Improve data pha docs
  docs/_examples/data/index.py
  docs/_examples/data/pha.py
  docs/_static/data/data1d.png
  docs/_static/data/data1dint.png
  docs/_static/data/data_data2d.png
  docs/_static/data/data_eval_model.png
  docs/_static/data/data_int_line_to_plot.png
  docs/_static/data/data_int_to_plot.png
  docs/_static/data/data_to_plot.png
  docs/_static/data/pha_filtered.png
  docs/_static/data/pha_filtered_channel.png
  docs/_static/data/pha_grouping_comparison.png
  docs/_static/data/pha_initial.png
  docs/data/index.rst
  docs/data/pha.rst
  docs/developer/index.rst
  docs/models/index.rst
  docs/ui/index.rst
  sherpa/astro/data.py
  sherpa/data.py
Labels: area:docs, type:enhancement

#1155 Remove Meta class for fits hdu headers
  sherpa/astro/data.py
  sherpa/astro/instrument.py
  sherpa/astro/io/crates_backend.py
  sherpa/astro/io/meta.py
  sherpa/astro/io/pyfits_backend.py
  sherpa/astro/io/tests/test_meta.py
  sherpa/astro/tests/test_astro_data_notebook.py
  sherpa/astro/ui/tests/test_astro_ui_unit.py
Labels: area:code

#1180 Minor improvements to model/parameter documentation
  docs/model_classes/astro_models.rst
  sherpa/models/model.py
  sherpa/models/parameter.py
  sherpa/models/regrid.py
  sherpa/models/tests/test_regrid_unit.py
Labels: area:docs

#1164 Fix plots with wavelength
  docs/plots/index.rst
  docs/plots/utils.rst
  sherpa/astro/plot.py
  sherpa/astro/tests/test_astro_plot.py
  sherpa/astro/ui/tests/test_astro_ui.py
  sherpa/plot/pylab_backend.py
  sherpa/plot/tests/test_plot_utils.py
  sherpa/plot/utils.py
  sherpa/ui/tests/test_ui_plot.py
Labels: general:visualization, type:bug

#1113 XSPEC: support etable table models
  sherpa/astro/ui/utils.py
  sherpa/astro/xspec/__init__.py
Labels: area:science, dep:xspec, note:needs SDS testing, type:enhancement

#1183 Check parameter link behavior
  sherpa/models/tests/test_parameter.py
Labels: area:tests
