Repository sherpa/sherpa, pull requests merged in 2021-07, with the labels that each got.

#1198 XSPEC test cleanup
  sherpa/astro/xspec/tests/test_xspec_unit.py
Labels: area:tests, dep:xspec

#1184 Fix plotting of model components for PHA data (fix #1020)
  sherpa/astro/instrument.py
  sherpa/astro/tests/test_astro_instrument.py
  sherpa/astro/ui/tests/test_astro_ui_plot.py
  sherpa/astro/ui/utils.py
  sherpa/models/model.py
  sherpa/ui/utils.py
Labels: area:code, general:visualization, type:bug

#1199 Move the regrid code out into a separate method
  sherpa/models/regrid.py
Labels: area:code, type:enhancement

#1205 Remove the SherpaTestCase class
  docs/overview/testing.rst
  sherpa/astro/optical/tests/test_optical.py
  sherpa/astro/tests/test_astro.py
  sherpa/astro/tests/test_astro_data.py
  sherpa/astro/tests/test_cache.py
  sherpa/astro/ui/tests/test_nan.py
  sherpa/conftest.py
  sherpa/estmethods/tests/test_conf.py
  sherpa/models/tests/test_template.py
  sherpa/tests/test_stack.py
  sherpa/ui/tests/test_get_int_proj.py
  sherpa/utils/testing.py
  sherpa/utils/tests/test_err.py
  sherpa/utils/tests/test_integration.py
  sherpa/utils/tests/test_root.py
Labels: area:tests

#1227 Support AstroPy 4.3 for tests
  sherpa/astro/io/tests/test_io.py
Labels: area:tests, note: easy review, priority:high, type:bug

#1208 Fix get_xerr for Data1DInt when all data is filtered
  .gitignore
  sherpa/astro/tests/test_astro_data2.py
  sherpa/data.py
  sherpa/tests/test_data.py
Labels: area:code, area:tests, note: easy review, type:bug

#1194 datastack: Improve show_stack and add _repr_html_ for stack
  sherpa/astro/data.py
  sherpa/astro/datastack/ds.py
  sherpa/astro/datastack/tests/test_datastack.py
Labels: area:code, note: easy review, type:enhancement

#1231 Remove __init__.py from tests directory
  sherpa/astro/ui/tests/__init__.py
Labels: area:build

#1236 Remove compiler warnings
  docs/install.rst
  sherpa/include/sherpa/MersenneTwister.h
  sherpa/include/sherpa/astro/models.hh
  sherpa/include/sherpa/astro/utils.hh
  sherpa/include/sherpa/astro/xspec_extension.hh
  sherpa/include/sherpa/models.hh
  sherpa/include/sherpa/utils.hh
Labels: area:c-code, area:docs
