Repository sherpa/sherpa, pull requests merged in 2021-12, with the labels that each got.

#1332 Add instrument test
  sherpa/models/tests/test_regrid_unit.py
  sherpa/tests/test_instrument.py
  sherpa/utils/tests/test_psf_lowlevel.py
Labels: area:tests

#1359 Improve writing out data objects as a table (fix #47)
  sherpa/astro/data.py
  sherpa/astro/io/__init__.py
  sherpa/astro/io/crates_backend.py
  sherpa/astro/io/pyfits_backend.py
  sherpa/astro/tests/test_astro_data2.py
  sherpa/astro/tests/test_astro_data_notebook.py
  sherpa/astro/ui/tests/test_astro_ui_unit.py
  sherpa/data.py
Labels: type:bug, area:tests, area:code

#1361 Ensure FITS column access is case insensitive for the pyfits I/O backend (fix #143)
  sherpa/astro/io/pyfits_backend.py
  sherpa/astro/io/tests/test_io.py
  sherpa/utils/testing.py
Labels: type:bug, area:tests, area:code

#1360 Add missing export statement to clang 12 note
  docs/install.rst
Labels: area:build, area:docs, note: easy review

#1370 Minor tweaks to handling of PHA settings
  sherpa/astro/data.py
  sherpa/astro/tests/test_astro_data2.py
  sherpa/astro/tests/test_astro_pha_scale.py
  sherpa/astro/ui/tests/test_astro_ui_unit.py
Labels: area:tests, area:code

#1376 Very-minor tweaks to docs/tests
  sherpa/astro/tests/test_astro_plot.py
  sherpa/astro/xspec/tests/test_xspec.py
  sherpa/astro/xspec/tests/test_xspec_unit.py
  sherpa/sim/__init__.py
Labels: area:docs, area:tests, note: easy review

#1353 Fix issue with delete_model_component
  sherpa/ui/tests/test_session.py
  sherpa/ui/utils.py
Labels: type:bug, area:code, note: easy review

#1374 Address aarch/ppc64le test failures
  .github/workflows/ci-pip-arch.yml
  sherpa/plot/tests/test_plot_notebook.py
  sherpa/tests/test_fit_unit.py
Labels: area:tests, CI arch
