Repository sherpa/sherpa, pull requests merged in 2022-01, with the labels that each got.

#1269 Reduce concurrent runs to github actions
  .github/workflows/ci-conda-workflow.yml
  .github/workflows/ci-pip-workflow.yml
Labels: area:tests, note: easy review

#1207 Improve OGIP headers in PHA files
  sherpa/astro/data.py
  sherpa/astro/io/__init__.py
  sherpa/astro/io/tests/test_io.py
  sherpa/astro/io/tests/test_io_img.py
  sherpa/astro/io/tests/test_io_pha.py
  sherpa/astro/io/tests/test_io_response.py
  sherpa/astro/tests/test_astro_data2.py
  sherpa/astro/tests/test_astro_data_notebook.py
  sherpa/astro/tests/test_astro_data_rosat_unit.py
  sherpa/astro/tests/test_astro_data_swift_unit.py
  sherpa/astro/tests/test_fake_pha.py
  sherpa/astro/ui/tests/test_astro_ui_utils_simulation.py
Labels: type:bug, area:code

#1387 minimize C++ code duplications (rebase)
  sherpa/astro/xspec/src/_xspec.cc
  sherpa/astro/xspec/tests/test_xspec.py
  sherpa/include/sherpa/astro/xspec_extension.hh
Labels: type:enhancement, dep:xspec, area:c-code

#1191 Make it easier to switch the plotting backend
  setup.py
  sherpa/astro/data.py
  sherpa/astro/datastack/ds.py
  sherpa/astro/datastack/plot_backend/__init__.py
  sherpa/astro/datastack/plot_backend/plot_dummy.py
  sherpa/astro/datastack/plot_backend/plot_matplotlib.py
  sherpa/astro/datastack/utils.py
  sherpa/astro/plot.py
  sherpa/astro/ui/utils.py
  sherpa/conftest.py
  sherpa/data.py
  sherpa/plot/__init__.py
  sherpa/plot/dummy_backend.py
  sherpa/plot/pylab_backend.py
  sherpa/plot/tests/test_pylab.py
  sherpa/sherpa-standalone.rc
  sherpa/sherpa.rc
  sherpa/ui/utils.py
Labels: type:enhancement, area:docs, general:visualization

#1411 Add sphinx_rtd_theme to sphinx extensions and set min version
  docs/conf.py
  docs/environment.yml
  docs/rtd-pip-requirements
Labels: area:docs, note: easy review

#1415 RTD fix missing and changed symbols
  docs/overview/astro_io.rst
  docs/plots/plot.rst
Labels: area:docs, note: easy review

#1418 Fix minor test issues
  sherpa/tests/test_data.py
Labels: area:tests, note: easy review
