Repository sherpa/sherpa, pull requests merged in 2022-02, with the labels that each got.

#1410 Add script and docs for pre-commit hook to update copyright
  docs/developer/index.rst
  scripts/pre-commit
Labels: area:docs, note: easy review

#1399 Allow conf/covar/proj to be used with XSPEC model parameters (regression)
  sherpa/ui/tests/test_ui_unit.py
  sherpa/ui/utils.py
Labels: type:bug, area:code, dep:xspec, general:optimisation, note:needs SDS testing

#1429 Tests: fix up test problems shown by pytest 7.0.0
  sherpa/tests/test_instrument.py
Labels: area:tests, note: easy review

#1425 Allow users to freeze models
  sherpa/models/model.py
  sherpa/models/tests/test_model.py
  sherpa/ui/tests/test_ui_unit.py
  sherpa/ui/utils.py
Labels: type:enhancement, area:docs, area:code, note: easy review

#1434 Fix aarch64 test failures
  sherpa/ui/tests/test_ui_unit.py
Labels: type:bug, area:tests, note: easy review, CI arch

#1435 Minor clean up of the data code
  sherpa/astro/data.py
  sherpa/astro/tests/test_astro_data2.py
  sherpa/astro/ui/tests/test_astro_ui_unit.py
  sherpa/data.py
Labels: area:docs, area:tests, area:code

#1441 Clean up the data tests
  sherpa/tests/test_data.py
Labels: area:tests, note: easy review

#1440 Minor clean up of the data routines
  sherpa/astro/data.py
  sherpa/astro/tests/test_astro_data2.py
  sherpa/astro/utils/__init__.py
  sherpa/astro/utils/tests/test_astro_utils_unit.py
  sherpa/stats/tests/test_stats_unit.py
Labels: area:tests, area:code, note: easy review

#1421 Address usability issues with Data2DInt and DataIMGInt classes
  sherpa/astro/data.py
  sherpa/astro/tests/test_astro_data2.py
  sherpa/data.py
  sherpa/tests/test_data.py
Labels: type:bug, area:code

#1451 Tests: ensure sherpa smoke tests are done in a clean environment
  sherpa/astro/utils/smoke.py
Labels: area:tests, note: easy review

#1454 RTD: update copyright year and fix WCS library
  docs/conf.py
Labels: priority:high, area:docs, note: easy review
