Repository sherpa/sherpa, pull requests merged in 2023-08, with the labels that each got.

#1829 Limit precision in the comparison of string outputs
  sherpa/astro/ui/tests/test_astro_session.py
  sherpa/conftest.py
  sherpa/estmethods/tests/test_estmethods.py
  sherpa/sim/tests/test_asymmetric.py
  sherpa/tests/test_fit_unit.py
  sherpa/tests/test_tests.py
  sherpa/ui/tests/test_ui_unit.py
Labels: area:tests, CI arch

#1813 Fix ReadTheDocs warnings and then make RTD fail on warnings in CI
  docs/model_classes/xspec_model.rst
  readthedocs.yml
  sherpa/astro/instrument.py
  sherpa/astro/models/__init__.py
  sherpa/astro/plot.py
  sherpa/astro/ui/utils.py
  sherpa/models/model.py
  sherpa/plot/__init__.py
  sherpa/ui/utils.py
Labels: area:docs, area:tests

#1780 Fix model plot display when factor is set for grouped PHA data (issue #1779)
  sherpa/astro/data.py
  sherpa/astro/tests/test_astro_plot.py
Labels: type:bug, area:code, general:visualization, note:needs SDS testing

#1795 Add docs to describe the inputs for the ``calc`` function of a user model
  docs/_static/model_classes/usermodel/data1d_trap_fit.png
  docs/code/poly.py
  docs/code/trap.py
  docs/model_classes/usermodel.rst
  sherpa/models/model.py
Labels: area:docs

#1835 Note compatability with XSPEC 12.13.1
  docs/developer/index.rst
  docs/indices.rst
  docs/install.rst
  helpers/xspec_config.py
  sherpa/astro/xspec/__init__.py
  sherpa/astro/xspec/tests/test_xspec_unit.py
Labels: type:enhancement, priority:high, area:build, dep:xspec

#1848 Tests: add regrid corner case tests
  sherpa/astro/xspec/tests/test_xspec_regrid.py
  sherpa/astro/xspec/tests/test_xspec_unit.py
  sherpa/conftest.py
  sherpa/models/tests/test_model_op.py
  sherpa/models/tests/test_regrid_unit.py
Labels: area:tests, note: easy review

#1844 XSPEC: allow table model redshift parameter range to change (fix #1814)
  sherpa/astro/xspec/__init__.py
Labels: type:bug, priority:high, area:code, dep:xspec

#1840 Fix #1828 - histogram plot issue
  docs/plots/utils.rst
  sherpa/plot/tests/test_plot_utils.py
  sherpa/plot/utils.py
Labels: type:bug, area:code, general:visualization

#1629 Note when a XSPEC model is changed to F77 form (double precision)
  docs/developer/index.rst
  scripts/check_xspec_update.py
Labels: area:build, dep:xspec, note: easy review

#1867 First fixes for NumPy 2.0
  sherpa/astro/ui/utils.py
  sherpa/conftest.py
  sherpa/instrument.py
  sherpa/io.py
  sherpa/optmethods/ncoresde.py
  sherpa/optmethods/ncoresnm.py
  sherpa/optmethods/opt.py
  sherpa/optmethods/optfcts.py
  sherpa/ui/utils.py
  sherpa/utils/__init__.py
Labels: type:other, area:build
