Repository sherpa/sherpa, pull requests merged in 2023-07, with the labels that each got.

#1812 Autoupdate copyright year in sphinx docs
  docs/conf.py
Labels: area:docs, note: easy review

#1823 sherpa_test: tweak how pytest/plugins are installed
  sherpa/__init__.py
Labels: area:code, note: easy review

#1819 CI: hide NumPy 1.25 array ndim>0 deprecation warnings
  pytest.ini
  sherpa/conftest.py
Labels: area:build, area:tests

#1808 Use Sherpa install instead of code only to build docs
  docs/conf.py
  docs/environment.yml
  docs/install.rst
  readthedocs.yml
Labels: type:enhancement, area:docs
