Repository sherpa/sherpa, pull requests merged in 2024-05, with the labels that each got.

#2020 CI: bump the checkout actions versions
  .github/workflows/ci-conda-workflow.yml
  .github/workflows/ci-pip-workflow.yml
Labels: area:build

#2019 update clone link and versions and DOI
  docs/install.rst
Labels: area:docs

#1684 Fix fake_pha docs
  sherpa/astro/fake.py
  sherpa/astro/tests/test_fake_pha.py
  sherpa/astro/ui/tests/test_astro_ui_utils_simulation.py
  sherpa/astro/ui/utils.py
Labels: type:bug, type:enhancement, area:docs, area:code

#2015 Remove unused code in sherpa.utils and sherpa.optmethods
  docs/overview/utils.rst
  sherpa/estmethods/__init__.py
  sherpa/fit.py
  sherpa/optmethods/ncoresde.py
  sherpa/optmethods/ncoresnm.py
  sherpa/optmethods/opt.py
  sherpa/optmethods/optfcts.py
  sherpa/utils/__init__.py
  sherpa/utils/tests/test_root.py
Labels: type:other, area:code

#1608 Remove the test setup.py option
  .github/workflows/ci-conda-workflow.yml
  MANIFEST.in
  docs/developer/index.rst
  docs/install.rst
  helpers/__init__.py
  helpers/test.py
  pytest.ini
  setup.cfg
  setup.py
  sherpa/astro/xspec/tests/test_xspec_unit.py
Labels: type:enhancement, area:build, area:tests

#2048 CI: update the weekly arch run to add ppc64le and to use a supported python version
  .github/workflows/ci-pip-arch.yml
Labels: area:build, CI arch

#2052 XSPEC: do not test bvvnei unless 12.14.0i or later is used
  sherpa/astro/xspec/tests/test_xspec.py
Labels: dep:xspec

#2056 tests: fix fake_pha test failure on crates
  sherpa/astro/ui/tests/test_astro_ui_io.py
  sherpa/astro/ui/tests/test_astro_ui_utils_simulation.py
Labels: area:tests

#2045 Mark code as deprecated in sherpa.utils
  sherpa/estmethods/__init__.py
  sherpa/fit.py
  sherpa/optmethods/ncoresde.py
  sherpa/optmethods/ncoresnm.py
  sherpa/optmethods/opt.py
  sherpa/optmethods/optfcts.py
  sherpa/utils/__init__.py
Labels: area:code
