Repository sherpa/sherpa, pull requests merged in 2025-01, with the labels that each got.

#2207 TESTS: avoid matplotlib version differences (fix #2206)
  sherpa/astro/ui/tests/test_astro_ui_plot.py
Labels: area:tests, dep:matplotlib

#2143 Improve pre-commit script for ranges of years
  scripts/pre-commit
Labels: area:other, note: easy review

#2191 TEST: fix test related to issue #800
  sherpa/astro/io/tests/test_io.py
Labels: area:tests, note: easy review

#2208 BUILD: update ds9 from 8.5 to 8.6
  .github/scripts/setup_ds9.sh
Labels: area:tests

#2174 Allow tests to pass with Python 3.13.0
  sherpa/astro/ui/tests/test_astro_session.py
  sherpa/astro/xspec/tests/test_xspec_regrid.py
  sherpa/plot/tests/test_backend_utils.py
  sherpa/ui/tests/test_session.py
Labels: type:enhancement, area:tests, dep:python3
