Repository sherpa/sherpa, pull requests merged in 2025-03, with the labels that each got.

#2235 Deal with OGIP products that do not follow the standards
  sherpa/astro/data.py
  sherpa/astro/io/__init__.py
  sherpa/astro/io/crates_backend.py
  sherpa/astro/io/dummy_backend.py
  sherpa/astro/io/pyfits_backend.py
  sherpa/astro/io/tests/test_io.py
  sherpa/astro/io/tests/test_io_img.py
  sherpa/astro/io/tests/test_io_pha.py
  sherpa/astro/io/tests/test_io_response.py
  sherpa/astro/io/tests/test_io_xspec_table_model.py
  sherpa/astro/io/types.py
  sherpa/astro/io/xstable.py
  sherpa/astro/tests/test_astro.py
  sherpa/astro/tests/test_astro_data.py
  sherpa/astro/tests/test_astro_data2.py
  sherpa/astro/tests/test_astro_data_asca_unit.py
  sherpa/astro/tests/test_astro_data_chandra_unit.py
  sherpa/astro/tests/test_astro_data_notebook.py
  sherpa/astro/tests/test_astro_data_swift_unit.py
  sherpa/astro/tests/test_astro_data_xmm_unit.py
  sherpa/astro/tests/test_astro_instrument.py
  sherpa/astro/tests/test_astro_pha_scale.py
  sherpa/astro/tests/test_astro_plot.py
  sherpa/astro/tests/test_cache.py
  sherpa/astro/xspec/tests/test_xspec_unit.py
  sherpa/data.py
Labels: type:bug, type:enhancement, area:tests, area:code

#2239 REGION: test CXCDM region parser, when available
  sherpa/astro/utils/src/_region.cc
  sherpa/astro/utils/tests/test_region_unit.py
Labels: type:enhancement, area:tests, area:c-code

#2241 drop "iterative fit method" in error-estimation screen output when not set
  sherpa/fit.py
  sherpa/ui/tests/test_ui_unit.py
Labels: type:enhancement, area:code, general:optimisation, note: easy review

#2249 Update project.toml for PEP 639
  .github/scripts/setup_xspec.sh
  .github/workflows/ci-conda-workflow.yml
  docs/developer/index.rst
  docs/install.rst
  helpers/sherpa_config.py
  helpers/xspec_config.py
  pyproject.toml
  scripts/use_ciao_config
  setup.cfg
Labels: priority:blocker, area:build, note: easy review
