Repository sherpa/sherpa, pull requests merged in 2025-09, with the labels that each got.

#2370 Update docs still claiming there is only one plotting backend
  docs/plots/backends.rst
  docs/plots/bokeh_backend.rst
  docs/plots/index.rst
Labels: area:docs, general:visualization, note: easy review

#2329 XSPEC: drop support for XSPEC 12.12.0 and 12.12.1
  docs/developer/index.rst
  docs/indices.rst
  docs/install.rst
  helpers/xspec_config.py
  sherpa/astro/xspec/__init__.py
  sherpa/astro/xspec/src/_xspec.cc
  sherpa/include/sherpa/astro/xspec_extension.hh
Labels: area:build, area:code

#2380 Update out-dated comments in utils.py
  sherpa/astro/ui/utils.py
Labels: area:code, note: easy review

#2372 DOCS: note that Python 3.13 support is no-longer experimental
  docs/install.rst
Labels: area:docs
